Repository moscajs/aedes, pull requests merged in 2020-02, with the labels that each got.

#387 Fixed duplicate emitting error event
  lib/handlers/connect.js
  test/connect.js
  test/will.js
Labels: bug

#388 Fixed helper connected callback
  test/auth.js
  test/helper.js
Labels: bug

#391 Switch tape to tap
  package.json
  test/auth.js
  test/basic.js
  test/client-pub-sub.js
  test/close_socket_by_other_party.js
  test/connect.js
  test/events.js
  test/helper.js
  test/keep-alive.js
  test/meta.js
  test/not-blocking.js
  test/qos1.js
  test/qos2.js
  test/regr-21.js
  test/retain.js
  test/topics.js
  test/will.js
Labels: enhancement

#392 Convert var to const
  aedes.js
  benchmarks/bombing.js
  benchmarks/bombingQoS1.js
  benchmarks/pingpong.js
  benchmarks/server.js
  benchmarks/throughputCounter.js
  benchmarks/throughputCounterQoS1.js
  example.js
  examples/clusters/index.js
  examples/proxy/index.js
  lib/client.js
  lib/handlers/connect.js
  lib/handlers/index.js
  lib/handlers/ping.js
  lib/handlers/puback.js
  lib/handlers/publish.js
  lib/handlers/pubrec.js
  lib/handlers/pubrel.js
  lib/handlers/subscribe.js
  lib/handlers/unsubscribe.js
  lib/handlers/validations.js
  lib/protocol-decoder.js
  lib/qos-packet.js
  lib/write.js
  test/auth.js
  test/basic.js
  test/client-pub-sub.js
  test/close_socket_by_other_party.js
  test/connect.js
  test/events.js
  test/helper.js
  test/keep-alive.js
  test/meta.js
  test/not-blocking.js
  test/qos1.js
  test/qos2.js
  test/regr-21.js
  test/retain.js
  test/topics.js
  test/will.js
Labels: enhancement

#400 Added test, subscribe msg should have messageId
  test/basic.js
Labels: enhancement

#401 Destroy socket when DISCONNECT sent
  lib/handlers/index.js
  test/basic.js
  test/meta.js
  test/retain.js
  test/will.js
Labels: bug

#403 destroySoon has been deprecated
  lib/client.js
Labels: enhancement

#404 Dropped pump pkg, use stream pipeline
  lib/handlers/connect.js
  package.json
Labels: enhancement

#402 Added test backpressure published fn
  test/events.js
Labels: enhancement

#406 Added duplicated broker close test
  test/events.js
Labels: enhancement

#407 Not emit clientReady/connected event when error raised in CONNECT phase
  lib/handlers/connect.js
  test/auth.js
Labels: bug

#414 Added test messageId should reset to 1 when reach 65535
  lib/qos-packet.js
  test/basic.js
Labels: enhancement

#409 Introduce connecting and closed metadata
  README.md
  lib/client.js
  lib/handlers/connect.js
  lib/handlers/index.js
  lib/write.js
  test/basic.js
  test/connect.js
  test/events.js
Labels: enhancement

#417 Add aedes.Server test
  aedes.js
  test/basic.js
Labels: enhancement

#420 Added test on unauthorized forward function in QoS
  test/auth.js
  test/qos2.js
Labels: enhancement

#418 Added test on broker.subscribe & broker.unsubscribe function
  aedes.d.ts
  test/client-pub-sub.js
  test/types/index.ts
Labels: bug, enhancement

#421 Coverage
  aedes.js
  package.json
  test/client-pub-sub.js
  test/qos1.js
  test/will.js
Labels: bug, enhancement

#430 Rewrite README.md & Fix typings
  README.md
  aedes.d.ts
  docs/Aedes.md
  docs/Client.md
  docs/Examples.md
  package.json
  test/types/index.ts
Labels: enhancement

#408 Refactored Subscribe Handler
  lib/client.js
  lib/handlers/connect.js
  lib/handlers/index.js
  lib/handlers/subscribe.js
  lib/handlers/unsubscribe.js
  lib/handlers/validations.js
  test/qos1.js
Labels: enhancement

#433 Fix: Single-level wildcard match empty level
  aedes.js
  package.json
  test/topics.js
Labels: bug

#441 Enhanced not-blocking tests by fake timers
  package.json
  test/connect.js
  test/not-blocking.js
  test/will.js
Labels: enhancement

#442 Enhanced keep-alive tests by fake timers
  test/helper.js
  test/keep-alive.js
  test/will.js
Labels: enhancement

#443 Enhanced auth.js test by fake timers
  test/auth.js
Labels: enhancement

#444 Enhanced retain.js tests by fake timers
  test/retain.js
Labels: enhancement

#446 Refactored EventEmitter
  aedes.js
  lib/client.js
  test/close_socket_by_other_party.js
Labels: enhancement

#447 Refactored validationTopics into utils
  lib/client.js
  lib/handlers/subscribe.js
  lib/handlers/unsubscribe.js
  lib/qos-packet.js
  lib/utils.js
Labels: enhancement

#445 Add a non-blocking concurrent connection test
  aedes.js
  test/not-blocking.js
Labels: enhancement

#452 Upgrade github actions/checkout to v2
  .github/workflows/ci.yml
Labels: enhancement

#453 Update uuid & deps
  aedes.js
  package.json
Labels: enhancement
